*{
  box-sizing: border-box;
  padding: -5px;
  margin: -5px;
}

body{
  margin:0;
  font-family: 'Segoe UI', system-ui, sans-serif;
}

.header{
  height:70px;
  padding:0 60px;
  display:flex;
  align-items:center;
  justify-content:space-between;

  background: rgba(0,0,0,0.85);
  backdrop-filter: blur(12px);
  border-bottom:1px solid rgba(255,255,255,0.08);
}

.left{
  color:white;
  font-size:22px;
  font-weight:600;
  letter-spacing:.5px;
}

.logo{
  font-size:40px;
  color:#00f2ff;
  font-weight:700;
}

.right a{
  margin-left:40px;
  text-decoration:none;
  color:#cfd9ff;
  font-weight:500;
  transition:.25s;
}

.right a:hover{
  color:#00f2ff;
}

.page{
  height:calc(100vh - 70px);
  display:flex;
  align-items:center;
  justify-content:center;

  background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
}

.card{
  width:380px;
  padding:45px;

  border-radius:18px;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(20px);

  box-shadow:
    0 20px 60px rgba(0,0,0,.45);

  border:1px solid rgba(255,255,255,0.08);

  text-align:center;
}

.card h2{
  margin-bottom:30px;
  color:white;
  letter-spacing:1px;
}

.input-group{
  text-align:left;
  margin-bottom:18px;
}

label{
  display:block;
  margin-bottom:6px;
  color:#a8cfff;
  font-size:13px;
}

input{
  width:100%;
  padding:12px;

  border-radius:10px;
  border:1px solid rgba(255,255,255,.1);

  background: rgba(0,0,0,.4);
  color:white;

  transition:.25s;
}

input:focus{
  outline:none;
  border:1px solid #00f2ff;
  box-shadow:0 0 10px rgba(0,242,255,.4);
}

button{
  margin-top:15px;
  width:100%;
  padding:13px;

  border:none;
  border-radius:10px;

  background: linear-gradient(135deg,#00f2ff,#0066ff);
  color:white;

  font-weight:600;
  letter-spacing:.5px;
  cursor:pointer;

  transition:.25s;
}

button:hover{
  transform: translateY(-2px);
  box-shadow:0 10px 25px rgba(0,242,255,.35);
}

p{
  margin-top:18px;
  font-size:14px;
  letter-spacing:.5px;
}